body {
    margin: 0;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li{
    display: inline;
}

img {
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}

.title {
    float: left;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(19, 53, 204);
}

.loginButton {
    float: right;
    margin-top: 5px;
}

.head {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

.body {
    padding-top: 30px;
}

.tab {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 10px;
}

/* タブメニュー */
.tab__menu {
    display: flex;
    align-items: flex-end; /* メニューを下揃え&高さを調整 */
    justify-content: center;
    min-height: 50px; /* メニュー切替時にタブがズレないように */
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.tab__menu-item {
    list-style: none;
    width: 200px;
    padding: 8px 5px; /* メニューに高さを付ける */
    text-align: center;
    margin-right: 6px;
    background-color: #cdcdcd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: all .3s; /* アニメーション */
}

.tab__menu-item:last-of-type {
    margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
    background-color: rgba(48, 172, 249);
    color: #ffffff;
    padding: 12px 5px;
}

/* タブパネル */
.tab__panel {
    width: 100%;
}

.tab__panel-box {
    padding: 10px 30px;
    border-radius: 10px;
}

.tab__panel-box001 {
    background-color: rgb(205, 246, 246);
    display: none;
}

.tab__panel-box002 {
    background-color: rgb(249 227 243);
    display: none;
}

/* is-showがついている時のスタイル */
.tab__panel-box.is-show {
    display: block;
}

.itemButton {
    width: auto;
    height: auto;
    border: 0;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.noClick {
    background-color: #ffffff;
    opacity: 0.5;
}

.isClick {
    background-color: #ffffff;
    opacity: 1;
}

.itemImg {
    width: 75px;
}

.cardItemImg {
    width: 75px;
    padding-top: 4px;
}

.tooltip1{
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.tooltip1 p{
    margin:0;
    padding:0;
}

.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
.description1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
}
.tooltip1:hover .description1{
    display: inline-block;
    top: -70px;
    left: -30px;
}

.tooltip1{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip1 p{
    margin:0;
    padding:0;
}
.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 10px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
.description1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
}
.tooltip1:hover .description1{
    display: inline-block;
    top: -70px;
    left: -30px;
}